<bb-guest-layout>
  <section class="benefits-section" data-testid="benefits-section">
    <div class="benefits-container">
      <div class="benefits-text-area" data-testid="benefits-text-area">
        <h2 class="benefits-main-title" data-testid="benefits-main-title">
          Experimente mais liberdade no controle da sua vida financeira. Crie sua conta com a gente!
        </h2>
      </div>

      <div
        class="benefits-main-illustration-wrapper"
        data-testid="benefits-main-illustration-wrapper"
      >
        <bb-img
          [src]="homeIllustrationSrc"
          size="full"
          alt="Person managing finances on a large phone"
        ></bb-img>
      </div>
    </div>

    <div class="benefits-grid-section" data-testid="benefits-grid-section">
      <h3 class="benefits-grid-title" data-testid="benefits-grid-title">
        Vantagens do nosso banco:
      </h3>
      <div class="benefits-grid">
        @for (item of benefits; track trackByBenefitIndex($index, item)) {
          <div class="benefit-item">
            <bb-img [src]="item.iconSrc" size="full" className="flex" [alt]="item.iconAlt"></bb-img>
            <h4 class="benefit-title">{{ item.title }}</h4>
            <p class="benefit-description">{{ item.description }}</p>
          </div>
        }
      </div>
    </div>
  </section>
</bb-guest-layout>
