<div class="home-container" data-testid="home-container">
  <!-- Header for guest users -->
  <bb-header
    variant="guest"
    (onOpenAccount)="isRegisterOpen.set(true)"
    (onLogin)="isLoginOpen.set(true)"
    data-testid="guest-layout-header"
  ></bb-header>

  <!-- Main content area for guest pages -->
  <main
    role="main"
    class="p-6 overflow-x-auto w-auto inline-block m-auto"
    data-testid="guest-layout-main-content"
  >
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <bb-footer data-testid="guest-layout-footer" />
</div>
