<header [class]="headerClasses" data-testid="app-header">
  <div data-testid="header-left-section">
    <bb-logo [variant]="logoVariant" [className]="logoClasses" data-testid="header-logo"></bb-logo>

    @if (variant() === 'user' && pathname()) {
      <bb-menu-popover
        [pathname]="pathname()!"
        (onNavigate)="onNavigate.emit($event)"
        data-testid="header-menu-popover"
      ></bb-menu-popover>
    }
  </div>

  <div data-testid="header-right-actions">
    @if (variant() === 'guest') {
      <bb-guest-actions
        (onOpenAccount)="onOpenAccount.emit()"
        (onLogin)="onLogin.emit()"
        data-testid="guest-actions"
      ></bb-guest-actions>
    } @else {
      @if (userName()) {
        <bb-authenticated-user-header
          [userName]="userName()!"
          (onNavigate)="onNavigate.emit($event)"
          (onLogout)="onLogout.emit()"
          data-testid="user-actions"
        ></bb-authenticated-user-header>
      }
    }
  </div>
</header>
