<div class="flex flex-col min-h-screen">
  <bb-header
    [variant]="'user'"
    [userName]="(userName$ | async) || ''"
    (onNavigate)="handleNavigation($event)"
    [pathname]="(pathname$ | async) || ''"
    (onLogout)="handleLogout()"
    (onLogin)="handleLogin()"
    (onOpenAccount)="handleOpenAccount()"
    data-testid="app-header"
  ></bb-header>

  <div class="flex-1 flex flex-row">
    @if (pathname$ | async; as pathname) {
      <bb-nav-menu
        class="hidden md:flex"
        [current]="pathname"
        (onNavigate)="handleNavigation($event)"
        data-testid="app-sidebar"
      >
      </bb-nav-menu>
    }

    <main
      role="main"
      class="overflow-x-auto w-auto inline-block m-auto"
      data-testid="main-content-outlet"
    >
      <router-outlet></router-outlet>
    </main>
  </div>

  <bb-footer />
</div>
