<header [class]="headerClasses()" data-testid="bb-header">
  <div data-testid="header-left-section">
    <div [class]="responsiveDisplayClasses()" data-testid="header-logo-container">
      <bb-logo size="xsl" variant="icon" [className]="logoClasses()" data-testid="header-logo">
        <span class="sr-only">Logo do ByteBank</span>
      </bb-logo>
    </div>

    @if (variant() === 'user' && pathname()) {
      <bb-menu-popover
        [pathname]="pathname()!"
        (navigate)="navigate.emit($event)"
        data-testid="header-menu-popover"
      ></bb-menu-popover>
    }
  </div>

  <div data-testid="header-right-actions">
    @if (variant() === 'guest') {
      <bb-guest-actions
        (openAccount)="openAccount.emit()"
        (login)="login.emit()"
        data-testid="guest-actions"
      ></bb-guest-actions>
    } @else {
      @if (userName()) {
        <bb-authenticated-user-header
          [userName]="userName()!"
          (navigate)="navigate.emit($event)"
          (logout)="logout.emit()"
          data-testid="user-actions"
        ></bb-authenticated-user-header>
      }
    }
  </div>
</header>
