<footer data-testid="footer-component">
  <div class="footer-contact-section" data-testid="footer-contact-section">
    <strong class="contact-info-title" id="contact-info-title">Contato</strong>
    <span class="contact-info-text" data-testid="contact-phone">0800 004 250 08</span>
    <span class="contact-info-text" data-testid="contact-email">meajuda&#64;bytebank.com.br</span>
  </div>

  <div
    class="footer-logo-section"
    aria-labelledby="logo-section-title"
    data-testid="footer-logo-section"
  >
    <span id="logo-section-title" class="sr-only">Logo do ByteBank</span>
    <bb-logo size="lg" data-testid="bytebank-logo" class="logo-white"></bb-logo>
  </div>
</footer>
